<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaojian.pervue.mapper.NationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhaojian.pervue.entity.Nation">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="district" property="district" />
        <result column="parent" property="parent" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, province, city, district, parent
    </sql>

    <resultMap id="voMap" type="com.zhaojian.pervue.entity.NationVo">
        <id property="value" column="id"></id>
        <result property="label" column="province"></result>

        <collection property="children" ofType="com.zhaojian.pervue.entity.NationVo">
            <id property="value" column="cid"></id>
            <result property="label" column="city"></result>

            <collection property="children" ofType="com.zhaojian.pervue.entity.NationVo">
                <id property="value" column="did"></id>
                <result property="label" column="district"></result>
            </collection>
        </collection>
    </resultMap>
<!-- 三级联动sql语句查询省市县-->
    <select id="findAllCity" resultMap="voMap">
    select p.id, p.province,
        IF (c.city = '', p.id, c.id) cid,
        IF (c.city = '',p.province,c.city) city,
        IFNULL(d.id, c.id) did,
        IFNULL(d.district, c.district) district
        from nation p
        left join nation c on p.id = c.parent
        left join nation d on c.id = d.parent
        where p.parent = 1
    </select>

</mapper>
