<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaojian.pervue.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhaojian.pervue.entity.User">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="telephone" property="telephone" />
        <result column="address" property="address" />
        <result column="enabled" property="enabled" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="userface" property="userface" />
        <result column="remark" property="remark" />
        <result column="sex" property="sex" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="district" property="district" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, phone, telephone, address, enabled, username, password, userface, remark, sex, province, city, district
    </sql>

    <resultMap id="voMap" type="UserVo" extends="BaseResultMap">
        <result property="provinceName" column="provinceName"></result>
        <result property="cityName" column="cityName"></result>
        <result property="districtName" column="districtName"></result>
        <!--添加的角色查询对应的映射-->
        <result property="rids" column="rids"></result>
        <result property="rnames" column="rnames"></result>
        <result property="rnameZhs" column="rnameZhs"></result>
    </resultMap>

    <select id="selectPageVo" resultMap="voMap">
<!-- 加上角用户表，色表，用户角色表，地区表 四表连查，展示用户角色，省市区等信息-->
        SELECT u.*,p.province provinceName,
		IF (c.city = '',p.province,c.city) cityName,
		IF (d.district = '',c.city,d.district) districtName,
		GROUP_CONCAT(r.id) rids,
		GROUP_CONCAT(r.`name`) rnames,
		GROUP_CONCAT(r.nameZh) rnameZhs
		FROM
			USER u
		LEFT JOIN nation p ON u.province = p.id
		LEFT JOIN nation c ON u.city = c.id
		LEFT JOIN nation d ON u.district = d.id
		LEFT JOIN user_role ur on u.id = ur.uid
		LEFT JOIN role r on ur.rid = r.id
		<where>
            <if test="userVo!=null">
                <!--根据多个字段联合查询-->
                <if test="userVo.name!=null and userVo.name !=''">
                    and u.name like concat('%',#{userVo.name},'%')
                    or u.phone like concat('%',#{userVo.name},'%')
                </if>
                <!--<if test="userVo.phone!=null and userVo.phone !=''">
                    and
                </if>-->
            </if>
        </where>
		GROUP BY u.id
        /*SELECT u.* ,p.province provinceName,
            IF(c.city='',p.province,c.city) cityName,
            IF(d.district='',c.city,d.district) districtName
            from USER u
            LEFT JOIN nation p on u.province = p.id
            LEFT JOIN nation c on u.city = c.id
            LEFT JOIN nation d on u.district = d.id*/
    </select>

</mapper>
